/* shared style */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    background: #FF900E;
    cursor: pointer;
}
.text-light-gray {
    font-size: 1.15rem;
    color: #727272;
    line-height: 1.75rem;
}
.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
/* header start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
    text-transform: capitalize;
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description {
    color: #727272;
}
.banner img {
    width: 100%;
    margin-top: 30px;
}

/* main area start */
main {
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container {
    display: flex;
    align-items: center;
}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title {
    font-size: 2.9rem;
}
.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}
.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}
.teams-title .feature {
    color: #FF900E;
    font-weight: 700;
}

/* feature section styles */
.feature {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 16px;
}
.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-weight: 700;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.feature-img img {
    height: 90%;
    margin-left: 90px;
}
.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p {
    font-size: 1.5rem;
}

/* facts section start */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}
.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0;
}
.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 5px 0;
}
/* sponsor style starts */
.sponsor {
    text-align: center;
}
.sponsor-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.sponsor-img-container img {
    width: 165px;
}

/* footer start here */
.footer {
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    padding: 20px 0;
    border: 1px dashed cyan;
    border-radius: 5px;
    background: #FFF4E7;
}







/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav, 
    .teams-container,
    .feature,
    .facts-card-container,
    .sponsor-img-container{
        flex-direction: column;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content,
    .facts-card-container {
        padding: 0 20px;
    }
    .feature-img img {
        width: 90%;
        margin-left: 0;
    }
    .ten-years-badge {
        position: static;
        max-width: 280px;
    }
    .facts-card-container {
        gap: 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }
    .banner-content {
        text-align: center;
        margin: 0 auto;
    }
    nav,
    .teams-container,
    .feature {
        flex-direction: column;
    }
    .teams-content {
        padding: 0 20px;
    }
    .teams-img-container img {
        width: 100%;
    }
    .feature-img img {
        width: 90%;
        margin-left: 0;
    }
    .facts {
        padding: 0 30px;
    }
    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .sponsor-img-container {
        flex-direction: column;
    }
}